@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
    width: 100vw;
    height: 100vh;
}

section.flexconteiner {
    background-color: rgb(194, 193, 193);
    padding: 25px;
    display: flex;
    
    flex-flow: column wrap;

}
article.midia-text {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap-reverse;
    
    
}
h1, h2 {
    margin: 10px;
    text-align: center;
}
article.text-midia {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    
}
section > article > div.text > h2 {
    padding: 10px;
    text-indent: 30px;
}
section > article > div.text > p {
    padding: 10px;
    text-align: justify;
    
}

header, section.normal {
    padding: 25px;
}
article > div.text {
    flex: 1 1 500px;
}
article > div.midia {
    flex: 1 1 500px;
}
div.midia > img {
    margin: auto;
    display: block;
}
div.midia > iframe {
    padding: 10px;
    margin: auto;
    display: block;
    width: 80%;
    
    
}
